@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgb(0, 128, 128);
  --primary-color-transparent: rgba(0, 128, 128, 0.5);
  --secondary-color: rgb(0, 51, 102);
  --black-transparent: rgba(0, 0, 0, 0.3);
  --main-font: Montserrat, sans-serif;
  --footer-background-color: #20232a;
}

body {
  margin: 0;
  font-family: var(--main-font);
  ul {
    list-style-type: none;
  }
  button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px;
  }
  header {
    background-image: linear-gradient(
        to bottom left,
        var(--black-transparent),
        var(--primary-color-transparent)
      ),
      url(Images/header_image.avif);
    background-position: top;
    background-size: cover;
    color: white;
    h1 {
      font-style: italic;
      text-transform: uppercase;
      font-size: 4rem;
      margin: 0;
      font-weight: 900;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      img {
        width: 55px;
        height: 56px;
      }
    }
    hgroup {
      text-align: center;
      padding-bottom: 15px;
      p {
        font-weight: 500;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0 8px;
        }
      }
    }
  }
  main {
    section#objectives {
      div.house {
        display: flex;
        justify-content: center;
        padding: 110px;
        img {
          width: 18rem;
          height: 18rem;
        }
        hgroup.aboutHouse {
          margin: 85px 0 0 -55px;
          color: var(--primary-color);
          h3 {
            a {
              color: inherit;
            }
          }
          p {
            width: 65%;
            margin-left: 80px;
          }
        }
      }
      div.services {
        width: 100%;
        display: flex;
        div.item {
          padding: 25px;
          text-align: center;
          width: 50%;
          border: rgb(240, 240, 240) 1px solid;
          img {
            width: 39px;
            height: 40px;
          }
        }
      }
    }
    section#pub {
      background-image: linear-gradient(
          to left bottom,
          var(--black-transparent),
          var(--primary-color-transparent)
        ),
        url(Images/main_image.avif);
      background-position: center;
      background-size: cover;
      padding: 100px;
      margin-bottom: 35px;
      color: white;
      display: flex;
      justify-content: flex-end;
      hgroup {
        h3 {
          width: 50%;
          margin-left: 35px;
        }
        div.dreams {
          width: 65%;
          margin-left: 90px;
        }
      }
    }
    section#market {
      padding: 40px;
      h2 {
        color: var(--primary-color);
        margin-left: 240px;
      }
      div.numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: flex;
          margin-left: 75px;
          li {
            text-align: center;
            width: 20%;
            margin: 0 5px;
            h3 {
              color: var(--secondary-color);
              font-size: 1.5em;
            }
            p {
              font-size: 0.8em;
            }
          }
        }
      }
      span {
        width: 39%;
        text-align: left;
        button {
          border-radius: 5px;
          padding: 10px;
          text-transform: uppercase;
        }
      }
    }
  }
  footer {
    background-color: var(--footer-background-color);
    color: white;
    padding: 15px;
    div.contacts {
        display: flex;
        justify-content: center;
      ul {
        margin-right: 25px; 
        li {
          display: flex;
          align-items: center;
          h4 {
            color: var(--primary-color);
            margin-right: 5px;
          }
        }
      }
    }
    div.rights {
        width: 35%;
      margin: 15px 0;
      img {
        width: 55px;
        height: 56px;
      }
      p {
        margin: 0;
      }
    }
  }
}
 
@media screen and (max-width: 768px) {
    footer{
        div.contacts{
            display: flex;
        }
    }
}
